$blue-primary: #20198f;
$blue-secondary: #362faf;
$background: #9c97e4;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 18px 'Ubuntu', sans-serif;
}

@import "layout.scss",
"module.scss"