header {
    grid-area: l-header;
}

main {
    grid-area: l-main;
}

aside {
    grid-area: l-aside;
}

footer {
    grid-area: l-footer;
}

body {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 1fr 1fr 50px;
    grid-template-areas: 'l-header' 'l-main' 'l-aside' 'l-footer';
}

.l-header,
.l-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $blue-primary;
    color: whitesmoke;
}